body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
}

#clock {
    text-align: center;
}

#toggle-mode {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #333; 
    color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}
